# Python cache files
__pycache__/
*.pyc
*.pyo
*pycache*
__pycache__/data.cpython-313.pyc
__pycache__/essay.cpython-313.pyc
__pycache__/paragraph.cpython-313.pyc
__pycache__/sentence.cpython-313.pyc
__pycache__/reference.cpython-313.pyc
__pycache__/citation_utils.cpython-313.pyc
__pycache__/quotes.cpython-313.pyc
__pycache__/__init__.cpython-313.pyc

# Byte-compiled files
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage
.coverage
.coverage.*
*.cover
*.hypothesis/

# Pytest cache
.cache/

# Coverage reports
coverage.xml
*.coveragerc

# Virtual environment
venv/

# Log files
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/

# System files
.DS_Store

# Environment files
.env